.right-links .dropdown-menu {
	right: 0;
	left: auto;
}
.page-topbar .right-links .dropdown-menu::after, .page-topbar .right-links .dropdown-menu::before {
	right: 36px;
	left: auto;
}
.page-topbar .logo-area {
	background-image: none;
}
.logo-area h2 {
	text-align: center;
	margin: 10px 0;
	font-weight: bold;
	color: #FFF;
}